.double {
  display: inline-block;
  width: 450px;
  height: 100%;
  padding: 2rem 2rem 4rem;

  @media screen and (max-width: 800px) {
    width: 325px;
    padding: 1rem 0 2rem;
  }
}

.single {
  display: inline-block;
  width: 700px;
  height: 100%;
  padding: 2rem 2rem 4rem;

  @media screen and (max-width: 800px) {
    width: 325px;
    padding: 1rem 1rem 2rem;
  }
}
