// .chart {
//   padding: 2rem 2rem 4rem;
//   margin: auto 10px;
// }

.graph {
  display: inline-block;
  width: 450px;
  height: 100%;
  // margin: 0 auto;
  padding: 2rem 2rem 4rem;

  @media screen and (max-width: 800px) {
    width: 400px;
    padding: 1rem 1rem 2rem;
  }
}

// ADJUST POSITIONING OF CHARTS BASED ON SCREEN RESIZE

