@import "../../styles/colors.module";

.header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;

  @media screen and (max-width: 800px) {
    position: absolute;
  }
}

.navContainer {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  margin-left: auto;
  margin-right: auto;

  .logo {
    color: $mainText;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.menu {
  padding-bottom: 3rem;
  cursor: pointer;
  display: none;

  @media screen and (max-width: 800px) {
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {

    width: 2.5rem;
    height: 2.5rem;
    position:absolute;
    top: 1rem;
    right: 2rem;
  }
}

.closeMenu {
  background: $background;
  width: 4rem;
  height: 4rem;
  position: fixed;
  right: 0;
  top: 0;
}

.menuX {
  position: fixed;
  top: 2rem;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;

  svg {
    cursor: pointer;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }
  li {
    list-style: none;
    margin-top: 1rem;

    a {
      text-decoration: none;
      font-size: 24px;
      line-height: 50px;
      font-weight: 500;

      &:hover {
        color: $primary;
      }
    }

    &:hover {
      transition-duration: 0.3s;
      transform: scale(1.1);
    }
  }
}

.navLinks {
  display: flex;
  list-style: none;

  @media screen and (max-width: 800px) {
    display: none;
  }

  li {
    margin-left: 2.5rem;

    a {
      text-decoration: none;
      font-weight: 500;

      &:hover {
        color: $primary;
      }
    }

    &:hover {
      transition-duration: 0.3s;
      transform: scale(1.1);
    }
  }
}