.header {
  display: flex;
  flex-direction: row;
  padding: 1em 3em;
  align-items: center;
  justify-content: space-between;
  z-index: 1;

  .siteLogo {
    color: var(--main-text);
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
  }

  .divLinks {
    display: flex;
    flex-direction: row;

    .navLink {
      padding: 0.5em 1.5em;
      z-index: 1;
      text-decoration: none;
      font-weight: 500;
    }

    .navLink:hover {
      color: var(--primary);
      transition-duration: 0.3s;
      transform: scale(1.1);
    }
  }
}
