.content {
  display: flex;
  flex-direction: column;
  margin: 3rem auto;
  padding: 0 2.5rem;
  max-width: 1200px;
}

.heading {
  text-align: left;
  color: var(--secondary);

  .paragraph {
    text-align: justify;
  }
}