.content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  padding: 0 10rem;
  max-width: 1200px;
}

.heading {
  text-align: left;

  .paragraph {
    text-align: justify;
  }
}

.imageContainer {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .image {
    width: 600px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  .caption {
    text-align: center;
    font-style: italic;
  }
}

.github {
  display: flex;
  flex-direction: row;

  .github:hover {
    color: var(--primary);
  }
}

@media screen and (max-width: 1600px) {
  .content {
    font-size: 17px;
  }
}

@media screen and (max-width: 1400px) {
  .content {
    font-size: 17px;
  }
}

@media screen and (max-width: 1200px) {
  .content {
    font-size: 17px;
  }
}

@media screen and (max-width: 960px) {
  .content {
    padding: 0 4rem;
  }
}

@media screen and (max-width: 480px) {
  .content {
    margin: 5rem auto;
    padding: 0 2.5rem;
  }
  .imageContainer {
    .image {

      width: 300px;
    }
  }
}

@media screen and (max-width: 360px) {
  .content {
    padding: 0 1.5rem;
  }
}
