@import "../../styles/colors.module";

.content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  padding: 2rem 10rem;
  max-width: 1200px;
}

.heading {
  text-align: left;

  .paragraph {
    text-align: justify;
  }
}

.imageContainer {
  width: fit-content;
  display: block;
  margin-left: auto;
  margin-right: auto;

  .image {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  .caption {
    text-align: center;
    font-style: italic;
  }
}

.github {
  position: relative;
  width: fit-content;
  color: $mainText;

  p {
    margin: 0;
    font-weight: 500;
  }

  &::before {
    content: "";
    background-color: $primary;
    position: absolute;
    left: 0;
    bottom: 3px;
    width: 100%;
    height: 5px;
    z-index: -1;
    transition: all 0.3s ease-in-out;
  }

  &:hover::before {
    height: 100%;
    opacity: 0.6;
  }
}

@media screen and (max-width: 960px) {
  .content {
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 480px) {
  .content {
    margin: 6rem auto;
    padding: 2rem 2rem;
  }
  .imageContainer {
    .image {
      width: 300px;
    }
  }
}

@media screen and (max-width: 360px) {
  .content {
    padding: 0 1.5rem;
  }
}
