.content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  max-width: 1200px;
}

.heading {
  text-align: left;

  .paragraph {
    text-align: justify;
  }
}

.imageContainer {
 
  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: auto;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  .caption {
    text-align: center;
    font-style: italic;
  }
}

.linksContainer {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;

  .link {
    padding: 12px 20px;
    background-color: var(--tertiary);
    color: var(--bg);
    border: 3px solid var(--tertiary);
    border-radius: 12px;
    width: fit-content;
  }

  .link:hover {
    cursor: pointer;
    border: 3px solid var(--tertiary);
    background-color: var(--bg);
    color: var(--tertiary);
    border-color: var(--tertiary);
  }
}
