.content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  padding: 2rem 10rem;
  max-width: 1200px;

  @media screen and (max-width: 800px) {
    padding: 4rem 3rem;
  }

  .doubleChart {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      padding: 4rem;
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
    }
  }

  .singleChart {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .uniConsiderationsContainer {
    width: fit-content;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 1rem;

    .uniConsiderations {
      width: 800px;
      height: auto;

      @media screen and (max-width: 900px) {
        width: 500px;
      }
    }
  }

  .topChoiceContainer {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    .topChoice {
      width: 100%;
      height: auto;
    }
  }
}

.demographics {
  h2 {
    color: #e98c8d;
  }
  h3 {
    color: #9a464a;
  }
}

.highschool {
  h2 {
    color: #8fbedc;
  }
  h3 {
    color: #6698d4;
  }
}

.academics {
  h2 {
    color: #ff9d5c;
  }
  h3 {
    color: #d27637;
  }
}

.coop {
  h2 {
    color: #b491c8;
  }
  h3 {
    color: #6f5082;
  }
}

.lifestyle {
  h2 {
    color: #85C296;
  }
  h3 {
    color: #518C63;
  }
}
