@import "../styles/colors.module";

.content {
  display: flex;
  flex-direction: column;
  margin: 1.5rem auto;
  padding: 2rem 10rem;
  max-width: 1200px;

  @media screen and (max-width: 800px) {
    padding: 4rem 3rem;
  }

  .doubleChart {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .text {
      padding: 2rem;
    }

    .textRight {
      margin-left: 4rem;
    }

    .textLeft {
      margin-right: 4rem;
    }

    @media screen and (max-width: 900px) {
      flex-direction: column;
      .textRight {
        margin-left: 0;
      }

      .textLeft {
        margin-right: 0;
      }
    }
  }

  .singleChart {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .uniConsiderationsContainer {
    width: fit-content;
    align-items: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    padding: 1rem;

    .uniConsiderations {
      width: 100%;
      height: auto;
    }
  }

  .topChoiceContainer {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;

    .topChoice {
      width: 100%;
      height: auto;
    }
  }
}

.demographics {
  h2 {
    color: $demographics2;
  }
  h3 {
    color: $demographics1;
  }
}

.highschool {
  h2 {
    color: $highschool3;
  }
  h3 {
    color: $highschool2;
  }
}

.academics {
  h2 {
    color: $academics2;
  }
  h3 {
    color: $academics1;
  }
}

.coop {
  h2 {
    color: $coop2;
  }
  h3 {
    color: $coop1;
  }
}

.lifestyle {
  h2 {
    color: $lifestyle2;
  }
  h3 {
    color: $lifestyle1;
  }
}
