.banner {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  // top: 25%;
  padding: 0 10%;
  width: fit-content;

  .title {
    display: flex;
    flex-direction: column;

    .button {
      text-decoration: none;
      padding: 12px 20px;
      border: 3px solid var(--primary);
      background-color: var(--primary);
      color: var(--bg);
      border-width: 2;
      border-radius: 12px;
      width: fit-content;
    }

    .button:hover {
      cursor: pointer;
      border: 3px solid var(--primary);
      background-color: var(--bg);
      color: var(--primary);
      border-color: var(--primary);
    }
  }

  .image {
    width: 650px;
    height: auto;
  }
}
