@import "./colors.module";

.banner {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 10%;
  width: fit-content;
  height: auto;
  top: 10%;

  .title {
    display: flex;
    flex-direction: column;

    .button {
      text-decoration: none;
      padding: 16px 20px;
      background-color: $primary;
      color: $background;
      border-radius: 12px;
      width: fit-content;
    }

    .button:hover {
      cursor: pointer;
      background-color: $secondary;
    }
  }

  .image {
    width: 650px;
    height: auto;
    @media screen and (max-width: 480px) {
      display: none;
    }
  }
}